<h1 class="title">添加水印</h1>

<div class="container" fxLayout.gt-sm="row wrap" fxLayout.sm="column">
  <div fxLayout="column" fxFlex.gt-sm="33" fxFlex.sm="100">
    <div fxLayout="column" (click)="uploadFile()" class="upload-btn">
      <span>选择图片</span>

      <button mat-button color="warn" class="file-upload">
        <mat-icon>file_upload</mat-icon>
        选择需要添加水印的图片
      </button>

      <input
        #fileUpload
        type="file"
        [multiple]="fileUploadOptions.multiple"
        [accept]="fileUploadOptions.accept"
        hidden
      />
    </div>

    <div fxLayout="column">
      <span>水印文字</span>
      <mat-form-field floatLabel="never">
        <input [(ngModel)]="watermarkOptions.text" matInput />
      </mat-form-field>
    </div>

    <div fxLayout="column">
      <span>旋转角度</span>
      <mat-slider max="360" thumbLabel [(ngModel)]="watermarkOptions.rotate"></mat-slider>
    </div>
    <div fxLayout="column">
      <span>透明度</span>
      <mat-slider thumbLabel [(ngModel)]="watermarkOptions.alpha"></mat-slider>
    </div>
    <div fxLayout="column">
      <span>文本间距</span>
      <mat-slider thumbLabel [(ngModel)]="watermarkOptions.width"></mat-slider>
    </div>
    <div fxLayout="column">
      <span>字体大小</span>
      <mat-slider
        min="0.5"
        max="50"
        step="0.5"
        thumbLabel
        [(ngModel)]="watermarkOptions.fontSize"
      ></mat-slider>
    </div>

    <div fxLayout="column">
      <span>文字颜色</span>

      <span
        [style.background]="watermarkOptions.color"
        [cpToggle]="true"
        [cpDialogDisplay]="'inline'"
        [cpCancelButton]="true"
        [cpCancelButtonClass]="'btn btn-primary btn-xs'"
        [(colorPicker)]="watermarkOptions.color"
      ></span>
    </div>
  </div>

  <div class="right" fxLayout="column" fxFlex.gt-sm="67" fxFlex.sm="100">
    <div>
      <button *ngIf="previewUrl" mat-button color="primary" (click)="download()">
        <mat-icon>get_app</mat-icon>
        下载水印图片
      </button>
    </div>

    <div #preview *ngIf="previewUrl" class="preview">
      <img [src]="previewUrl" alt="preview" />
      <div class="watermark" [ngStyle]="{ background: paint() }"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
